
body{
  background: #F2EEEE;
}

.knockout {
  background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
  color: red;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 100px;
  font-family: arial, helvetica;
  width: 600px;
  margin: 50px auto;
  text-align: center;
}

.container{
  position:relative;
  top:200px;
  left:35%;
  display:block;
  margin-bottom:80px;
  width:500px;
  height:360px;
  background:#fff;
  border-radius:5px;
  overflow:hidden;
  z-index:1;
}

