<html>
<head>
	<title>ASL Translator</title>
	<link href="../static/index.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="knockout">HandSignXXX</div>
	<div class="container-fluid">
		<div class="text-center">

			{% with response = get_flashed_messages(category_filter=["result"]) %}
			{% if response %}
			<h3>Outputs:</h3>
			<ul>
				{%- for msg in response %}
				<h3>{{ msg }}</h3>
				{% endfor -%}
			</ul>
			{% endif %}
			{% endwith %}
		</div>


		<div class="text-center">
			<img src="{{ url_for('video_feed') }}" height='70%' >
		</div>

		<br>

		<form action="takePhoto" method="POST">
			<div class="form-group" >
				<label for="sel1">Destinated Letter:</label>
				<select class="form-control" id="letter" name="letter" >
					<option value="A">A</option>
					<option value="B">B</option>
					<option value="C">C</option>
					<option>D</option>
					<option>E</option>
					<option>F</option>
					<option>G</option>
					<option>H</option>
					<option>I</option>
					<option>J</option>
					<option>K</option>
					<option>L</option>
					<option>M</option>
					<option>N</option>
					<option>O</option>
					<option>P</option>
					<option>Q</option>
					<option>R</option>
					<option>S</option>
					<option>T</option>
					<option>U</option>
					<option>V</option>
					<option>W</option>
					<option>X</option>
					<option>Y</option>
					<option>Z</option>
					<option>space</option>
				</select>
			</div>

			<div class="text-center">
				<button type="submit" class="btn btn-primary mb-2">Take Photo</button>
			</div>
		</form>
	</div>

	<div class="text-center">
    	<img src="../static/azure.png" class="ribbon" height="100" style="max-width: 400px">
	</div>
</body>
</html>